*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  letter-spacing: 0.8px;
  list-style: none;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  min-height: 10000px;
}

body, html{
  min-width: 100%;
  height: 100%;
  background: #333333;
  color: #333335;
}